@charset "utf-8";
@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;

	-moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  background-color: #ddd
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
    overflow:hidden;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 1em;
    margin: 2em;
    color: #000;
}

form{
    text-align:center;
    overflow:hidden;
    padding-bottom: 2em;
}

.title {
    text-align:center;
    margin: 0 auto;
    display:block;
}

.top-box {
    background-color: #eee;
    border-radius: 1em 1em 0 0;
}

.listbox {
    padding: 1em;
    background-color: #fff;
}